.two-columns__brief {
  color: #2f80ed;
  width: 175px;
  min-width: 175px;
  /* без min-width ширина не фиксировалась и текст в блоке некрасиво съезжал, я решил пофиксить */
  line-height: 1.2;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}